.sidebar {
  width: 248px;
  background-color: var(--white);
  // box-shadow: var(--box-shadow-color);
  height: 641px;
  border-radius: var(--border-radius);
  margin-top: 16px;
  margin-right: 24px;
}