:root {
  --background-color: #ebf0f5;
  --font-family: "Murecho", sans-serif;
  --white: #fff;
  --border-color: #D8E1EB;
  --text-color: #5a6573;
  --primary-color: #77818c;
  --secondary-text-color: #1882ff;
  --heading-title-color: #1a2b3d;
  --alert-bg-color: #FFEEDB;
  --alert-border-color: #FFE1C2;
  --alert-icon-color: #F27D00;
  --box-shadow-color: 0 0 20px rgba(0, 0, 0, 0.2);
  --text-decoration: none;
  --border-radius: 8px;
  --border-bottom: 1px solid #ebf0f5;
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;
  --font-size: 14px;
  --paragraph-font-size: 13px;
  --small-font-size: 12px;
  --heading-font-size: 18px;
  --line-height: 24px;
}
