@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');
@import 'variables';

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: var(--text-decoration);
}

a:hover {
  text-decoration: var(--text-decoration);
}

ul,
ol {
  list-style-type: var(--text-decoration);
}

img {
  vertical-align: middle;
  border: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  height: 100vh;
  color: var(--text-color);
}

.app {
  display: flex;
  flex-direction: column;

  .main {
    display: flex;
    width: 1112px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}